body { background-color: #3F2860; color: #3F2860;
         font-family: Verdana, Geneva, Tahoma, sans-serif;}
header {background-color: #9BC1C2;
        background-image: url(lilyheader.jpg);
        background-repeat: no-repeat;
        height : 150px;
        background-position: right top;}

h1      {padding-top: 50px;
         padding-left: 2em;}      
nav     {font: bold;
        text-align: center;
        padding: 1em;}

nav a {text-decoration: none;}

footer {background-color: #9BC1C2;
        font: 0.60em;
        font-style: italic;
        text-align: center;
        padding: 1em;}

#wrapper {background-color: #F5F5F5;
        min-width: 1000px;
        max-width: 1280px;
        width: 80%; 
        margin-right: auto;
        margin-left: auto;}
 
.studio {font-style: italic;}

#hero {background-image: url(yogamat.jpg);
                height:300px;
                width :900px;
                padding-left: 1em;
                padding-right: 1em;
                background-repeat: no-repeat;
        text-align: center;}
main    {padding-left: 2em;
         Padding-right: 2em;
         display: block;}
